/* TIPOGRAPHY */
:root {
  --main: #fd5353;
  --text-content: rgb(27, 45, 53);
}

body {
  background-color: #f7f8f9;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 50px;
  width: 60rem;
  margin: 50px auto;
}

/* APP CONTAINER */
.app_container {
  background-color: white;
  border-radius: 7px;
  display: flex;
  height: 700px;
  box-shadow: 2px 3px 35px -7px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 2px 3px 35px -7px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 2px 3px 35px -7px rgba(0, 0, 0, 0.45);
}

.app_form {
  width: 50%;
  padding: 60px;
}

h1 {
  color: var(--main);
}

a {
  color: var(--main);
}

.registration_p {
  color: var(--text-content);
  margin-bottom: -35px;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.form_control {
  margin: 10px;
  padding: 15px;
  color: #c1c4c6;
  border: 1px solid #c1c4c6;
  border-radius: 5px;
  width: 20rem;
}

.form_control_checkbox {
  width: 20px;
  height: 20px;
  background-color: var(--main);
}

p {
  display: flex;
  justify-content: center;
  align-self: center;
}

p span {
  margin-top: 5px;
  margin-left: 10px;
}

.form_control:focus {
  border: 1px solid var(--main);
}

.button {
  width: 140px;
  margin: 10px;
  padding: 13px;
  border-radius: 5px;
}
.button__signup {
  color: white;
  background-color: var(--main);
  border: none;
}
.button__signin {
  color: var(--main);
  background-color: white;
  border: 1px solid var(--main);
}

/* COVER IMAGE*/
.cover_image {
  border-radius: 7px;
  width: 50%;
  overflow: hidden;
  margin-left: 0px;
  object-fit: contain;
}
